In [1]:
import pandas as pd

In [2]:
# List of all candidates provided
candidates = {
    'batsmen': [
        'AB de Villiers',
        'Andre Russel',
        'Ben Stokes',
        'Chris Gayle',
        'Chris Lynn',
        'David Warner',
        'Faf Du Plessis',
        'Jonny Bairstow',
        'Jos Buttler',
        'Kane Williamson',
        'Kieron Pollard',
        'Marcus Stoinis',
        'Moeen Ali',
        'Quinton de Kock',
        'Shane Watson',
        'Steve Smith'
    ],
    'bowlers': [
        'Andre Russell',
        'Ben Stokes',
        'Chris Morris',
        'Dwayne Bravo',
        'Imran Tahir',
        'Jofra Archer',
        'Kagiso Rabada',
        'Keemo Paul',
        'Lasith Malinga',
        'Moeen Ali',
        'Mohammad Nabi',
        'Rashid Khan',
        'Sam Curran',
        'Sunil Narine',
        'Trent Boult'
    ]
}

In [3]:
# Ranks generated by TODIM (theta = 1.0)
todim_ranks = {
    'batsmen': [
        'David Warner',
        'Chris Gayle',
        'Quinton de Kock',
        'Andre Russel',
        'AB de Villiers',
        'Jonny Bairstow',
        'Shane Watson',
        'Chris Lynn',
        'Faf Du Plessis',
        'Kieron Pollard',
        'Steve Smith',
        'Jos Buttler',
        'Moeen Ali',
        'Marcus Stoinis',
        'Kane Williamson',
        'Ben Stokes'
    ],
    'bowlers': [
        'Imran Tahir',
        'Kagiso Rabada',
        'Lasith Malinga',
        'Rashid Khan',
        'Andre Russell',
        'Jofra Archer',
        'Dwayne Bravo',
        'Sunil Narine',
        'Mohammad Nabi',
        'Chris Morris',
        'Sam Curran',
        'Moeen Ali',
        'Keemo Paul',
        'Ben Stokes',
        'Trent Boult'
    ]
}

In [4]:
# Ranks generated by TOPSIS
topsis_ranks = {
    'batsmen': [
        'David Warner',
        'Andre Russel',
        'Jonny Bairstow',
        'Kieron Pollard',
        'AB de Villiers',
        'Chris Gayle',
        'Marcus Stoinis',
        'Quinton de Kock',
        'Chris Lynn',
        'Shane Watson',
        'Faf Du Plessis',
        'Steve Smith',
        'Jos Buttler',
        'Moeen Ali',
        'Ben Stokes',
        'Kane Williamson'
    ],
    'bowlers': [
        'Kagiso Rabada',
        'Imran Tahir',
        'Rashid Khan',
        'Lasith Malinga',
        'Chris Morris',
        'Andre Russell',
        'Mohammad Nabi',
        'Jofra Archer',
        'Keemo Paul',
        'Dwayne Bravo',
        'Moeen Ali',
        'Sam Curran',
        'Ben Stokes',
        'Sunil Narine',
        'Trent Boult'
    ]
}

In [5]:
# Ranks generated by NR TOPSIS
nr_topsis_ranks = {
    'batsmen': [
        'Andre Russel',
        'David Warner',
        'Jonny Bairstow',
        'AB de Villiers',
        'Chris Gayle',
        'Quinton de Kock',
        'Kieron Pollard',
        'Shane Watson',
        'Marcus Stoinis',
        'Chris Lynn',
        'Faf Du Plessis',
        'Jos Buttler',
        'Moeen Ali',
        'Steve Smith',
        'Ben Stokes',
        'Kane Williamson'
    ],
    'bowlers': [
        'Kagiso Rabada',
        'Imran Tahir',
        'Rashid Khan',
        'Chris Morris',
        'Mohammad Nabi',
        'Andre Russell',
        'Jofra Archer',
        'Keemo Paul',
        'Lasith Malinga',
        'Moeen Ali',
        'Dwayne Bravo',
        'Ben Stokes',
        'Trent Boult',
        'Sunil Narine',
        'Sam Curran'
    ]
}

In [6]:
def get_rank_list(key, rank_data):
    candidate_list = candidates[key]
    rank_list = rank_data[key]
    return [(rank_list.index(candidate) + 1) for candidate in candidate_list]

In [7]:
def get_rho(column):
    c_list = list(column)
    d_sum = sum(c_list)
    n = len(c_list)
    return 1 - (6 * d_sum) / (n * (n * n - 1))

In [8]:
def get_data_for(key):
    raw_list = candidates[key]
    index_list = list(range(1, len(raw_list) + 1))

    todim_list = get_rank_list(key, todim_ranks)
    topsis_list = get_rank_list(key, topsis_ranks)
    nr_topsis_list = get_rank_list(key, nr_topsis_ranks)
    
    data = pd.DataFrame(
        zip(raw_list, todim_list, topsis_list, nr_topsis_list),
        index=index_list,
        columns=['Name', 'TODIM (A)', 'TOPSIS (B)', 'NR TOPSIS (C)']
    )
    
    data['$$d_{AB}^2$$'] = (data['TODIM (A)'] - data['TOPSIS (B)'])**2
    data['$$d_{BC}^2$$'] = (data['TOPSIS (B)'] - data['NR TOPSIS (C)'])**2
    data['$$d_{AC}^2$$'] = (data['TODIM (A)'] - data['NR TOPSIS (C)'])**2
    
    return data, get_rho(data['$$d_{AB}^2$$']), get_rho(data['$$d_{BC}^2$$']), get_rho(data['$$d_{AC}^2$$'])

In [9]:
data, rhoAB, rhoBC, rhoAC = get_data_for('batsmen')

In [10]:
data

,Name,TODIM (A),TOPSIS (B),NR TOPSIS (C),$$d_{AB}^2$$,$$d_{BC}^2$$,$$d_{AC}^2$$
1,AB de Villiers,5,5,4,0,1,1
2,Andre Russel,4,2,1,4,1,9
3,Ben Stokes,16,15,15,1,0,1
4,Chris Gayle,2,6,5,16,1,9
5,Chris Lynn,8,9,10,1,1,4
6,David Warner,1,1,2,0,1,1
7,Faf Du Plessis,9,11,11,4,0,4
8,Jonny Bairstow,6,3,3,9,0,9
9,Jos Buttler,12,13,12,1,1,0
10,Kane Williamson,15,16,16,1,0,1
11,Kieron Pollard,10,4,7,36,9,9
12,Marcus Stoinis,14,7,9,49,4,25
13,Moeen Ali,13,14,13,1,1,0
14,Quinton de Kock,3,8,6,25,4,9
15,Shane Watson,7,10,8,9,4,1
16,Steve Smith,11,12,14,1,4,9

In [11]:
rhoAB, rhoBC, rhoAC

(0.7676470588235293, 0.9529411764705882, 0.8647058823529412)

In [12]:
data, rhoAB, rhoBC, rhoAC = get_data_for('bowlers')

In [13]:
data

,Name,TODIM (A),TOPSIS (B),NR TOPSIS (C),$$d_{AB}^2$$,$$d_{BC}^2$$,$$d_{AC}^2$$
1,Andre Russell,5,6,6,1,0,1
2,Ben Stokes,14,13,12,1,1,4
3,Chris Morris,10,5,4,25,1,36
4,Dwayne Bravo,7,10,11,9,1,16
5,Imran Tahir,1,2,2,1,0,1
6,Jofra Archer,6,8,7,4,1,1
7,Kagiso Rabada,2,1,1,1,0,1
8,Keemo Paul,13,9,8,16,1,25
9,Lasith Malinga,3,4,9,1,25,36
10,Moeen Ali,12,11,10,1,1,4
11,Mohammad Nabi,9,7,5,4,4,16
12,Rashid Khan,4,3,3,1,0,1
13,Sam Curran,11,12,15,1,9,16
14,Sunil Narine,8,14,14,36,0,36
15,Trent Boult,15,15,13,0,4,4

In [14]:
rhoAB, rhoBC, rhoAC

(0.8178571428571428, 0.9142857142857143, 0.6464285714285714)